<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Ken Company Home Page</title>
    </head>
    <body>
        <h2>Ken Company Home Page</h2>
        <hr>
        <p>Welcome to the Ken's company home page!</p>
        <hr>
        <!-- display user name and role -->
        <p>
            User: <span sec:authentication="principal.username"></span>
            <br><br>
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>
        <hr>
        <!-- Add a link to point to /leaders ... this is for the managers -->
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
        <!-- Add a link to point to /system ... this is for the admins -->
        <p>
            <a th:href="@{/systems}">IT System Meeting</a>
            (Only for Admin peeps)
        </p>

        <!-- Add a logout button-->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>