<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Student Registration Form</title>
    </head>
    <body>
        <h3>Student Registration Form</h3>
        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
            First name: <input type="text" th:field="*{firstName}"/>
            <br><br>
            Last name: <input type="text" th:field="*{lastName}"/>
            <br><br>
            Country:

            <select th:field="*{country}">
                <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
               <!-- <option th:value="Brazil">Brazil</option>
                <option th:value="France">France</option>
                <option th:value="Korea">Korea</option>
                <option th:value="India">India</option>-->
            </select>
            <br><br>
            Favorite Programming Language:
            <input type="radio"
                   th:field="*{favoriteLanguage}"
                   th:each="tempLanguage : ${favoriteLanguages}"
                   th:value="${tempLanguage}"
                   th:text="${tempLanguage}"
            />
            <!--<input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go</input>
            <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
            <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>-->
            <br><br>
            Favorite Operating Systems:
            <input type="checkbox"
                   th:field="*{favoriteSystem}"
                   th:each="tempSystem : ${favoriteSystems}"
                   th:value="${tempSystem}"
                   th:text="${tempSystem}"
            />
            <!--<input type="checkbox" th:field="*{favoriteSystem}" th:value="Linux">Linux</input>
            <input type="checkbox" th:field="*{favoriteSystem}" th:value="macOS">macOS</input>
            <input type="checkbox" th:field="*{favoriteSystem}" th:value="'Microsoft Windows'">Microsoft Windows</input>-->
            <br><br>
            <input type="submit" value="Submit"/>

        </form>
    </body>
</html>